{% extends 'base.html.twig' %}

{% block title %}Détail d'un entreprise{% endblock %}

{% block body %}

    <h1> {{ entreprise }} </h1><br>
    <p>

        SIRET : {{ entreprise.siret }}<br>
        Adresse : {{ entreprise.adresse }}<br>
        CP : {{ entreprise.cp}}<br>
        Date de creation  : {{ entreprise.dateCreation | date('d/m/Y')}} <br>
        Ville : {{ entreprise.ville}}<br>

        <h3>Liste des employes :</h3><br>
        {% if entreprise.employes | length == 0 %}
         
         <p>
          Pas des employes
         </p><br>
              
        {% else %}
            
             {% for employe in entreprise.employes %}
                    <strong><a href="{{path('details_employe',{ 'id': employe.id })}}"> {{employe}} </a></strong><br>
                {% endfor %}
        
        {% endif %}
        
     

    </p>

  

{% endblock %}
