{% extends 'base.html.twig' %}

{% block title %}Détail d'un employé{% endblock %}

{% block body %}

    <h1>{{ employe }}</h1><br>

    <p>
    Date de naissance : {{ employe.dateNaissance | date('d/m/Y')}} ({{employe.age }} ans)<br>
    Ville : {{ employe.ville }}<br>
    Entreprise :  <a href=" {{ path('details_entreprise', {'id' : employe.entreprise.id }) }} " > {{ employe.entreprise}} </a><br>
    Date d'embauche : {{ employe.dateEmbauche | date('d/m/Y')}}<br>

    </p>
    <br> <a class="btn btn-warning"  href="{{path('edit_employe' , {'id' : employe.id })}}">Edit</a>

{% endblock %}